<div class="big-container product-manage-wrapper flexed-item">
  <form action="/prod-add" method="post" class="add-product-form" enctype="multiparty/form-data">
    {{#if msg}}
    <p class="msg {{msg.statu}}">{{msg.txt}}</p>
    {{/if}}
    <h3 class="form-title">Add Sneackers to the collection</h3>
    <div class="form-item-wrapper flexed-item">
      <label for="sneacker-name" class="label-name label">Model name</label>
      <input id="sneacker-name" type="text" name="name" class="input-text input" placeholder="Nike Air Max 90" value="">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="sneacker-ref" class="label-ref label">Réf.</label>
      <input id="sneacker-ref" name="ref" type="text" class="input-text input" placeholder="ex: NV23498" value="">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="sneacker-size" class="label-ref label">Size</label>
      <input id="sneacker-size" name="sizes" type="number" class="input-text input" placeholder="ex: 37" value="">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="sneacker-descr" class="label-descr label">Description</label>
      <input id="sneacker-descr" name="description" type="text" class="input-text input"
        placeholder="The better sneakers to run" value="">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="sneacker-price" class="label-price label">Price</label>
      <input id="sneacker-price" name="price" type="number" class="sneacker-price input" placeholder="Enter a number"
        min="1" value="">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="sneaker-img" class="label-price label">Image</label>
      <input id="sneaker-img" type="file" name="image" class="sneacker-price input">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="category" class="label-main-cat label">Main category</label>
      <select id="category" name="category" class="select" required>
        <option value="-1" disabled selected>Choose a category</option>
        <option value="men">Men</option>
        <option value="women">Women</option>
        <option value="kids">Kids</option>
      </select>
    </div>

    <div class="form-item-wrapper flexed-item">
      <label for="tags" class="label">Tags</label>
      {{> form_tags_select}}
    </div>
    <button class="button-primary add-sneacker-btn">Add to collection</button>
  </form>

  <div class="add-tag-form">
    <p id="add-tag-message" class="msg"></p>
    <h3 class="form-title">Add tags</h3>
    <div class="form-item-wrapper flexed-item">
      <label for="category-name" class="category-name label">Sneaker tag</label>
      <input id="new_tag_name" type="text" class="input" placeholder="ex: Gangsta">
    </div>
    <button id="btn_new_tag" class="button-primary add-category-btn">Create this category</button>
  </div>
</div>